<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="post">Post</a>
      </li>
      
    </ul>
  </div>
</nav>

<p> {{name}} </p>
<p>jhyfhjfjhf {{time}} times</p>
<p><button (click)="sunil()">click me</button></p>



<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container-fluid">
 
  <div class="row">
    <div class="col-sm-8"><router-outlet> <h2>data fetch in json place holder api </h2></router-outlet>
    <div id="data" *ngFor="let r of result[0]">
    <h3>{{ r.title }} </h3>
    <p>{{  r.body }} </p>
</div> 
  </div>
<div class="col-sm-4"> <app-sidebar></app-sidebar></div>
  </div>
</div>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-12" ><app-footer></app-footer></div>
  </div>
</div>